@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: url('/solargy/assets/solarpanelbg.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #ffca2c;
}


/*------------ Login container ------------*/

.box-area {
    width: 1000px;
    border: none;
}

.bn632-hover {
    width: 360px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn21 {
    background-image: linear-gradient(
      to right,
      #ef9d43,
      #ffca2c,
      #f7c120,
      #e75516
    );
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
  }

/*------------ Right box ------------*/




.right-box{
    
    padding: 40px 30px 40px 40px;
    
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0;


     }
     .left-box{
        height: 200px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

     .header-text h2{
        margin-top: -10px;
        margin-bottom: 0; /* Remove margin on mobile view */
        font-size: 20px; /* Set a smaller font size for mobile view */
     }
     .header-text p{
        font-size: 15px; /* Set a smaller font size for mobile view */
        
      }

      .quote {
        margin-top: -210px;
        font-size: 10px;
      }
      .quote p{
        margin-top: -10px;
      }

      .signup-btn {
        margin-top: 0;
      }

}



/* styles.css */

.left-box {
    top: -4px;
    position: relative;
    z-index: 1;
}

/* styles.css */

/* styles.css */

#myVideo {
    border-radius: 5%; /* Example: Creating rounded corners */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; /* Maintain aspect ratio */
}


/* Assuming you have a class for the small element, let's say it's called "quote" */
.quote {
    margin-bottom: -250px;
    color: transparent; /* Make the text transparent */
    text-shadow: 0 0 0.9px rgba(255, 255, 255, 0.9); /* Add a subtle text shadow for readability */
  }
  

